.EducationListHeader {
    background-color: white;
    font-weight: 700;
    padding: 5px;
    border-radius: 4px 4px 0px 0px;
    color: black;
    letter-spacing: 1px;
    background-color: #55c061;
}

.EducationListContainer {
    box-shadow: 2px 1px 6px -2px black;
    background-color: #262837;
    padding: 0px 2px;
    border-radius: 5px;
    margin-top: 10px;
}

.eductionListInput{
    color: gray !important;
    border: 1px solid darkgray;
    font-size: 14px;
}