.EmployeeListHeader{
    background-color: white;
    font-weight: 700;
    padding: 5px;
    border-radius: 4px 4px 0px 0px;
    color: black;
    letter-spacing: 1px;
    background-color: #55c061;
}

.EmployeeListContainer {
    background-color: #262837;
    box-shadow: 2px 1px 6px -2px black;
    padding: 0px 0px;
    border-radius: 5px;
    margin-top: 10px;
}

.EmployeeListbtncontainer {
    border-top: 1px solid darkgray;
    padding: 5px;
}

.btn{
    background-color: #55c061 !important;
}

